/*
** Chart
*/
.chartDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    //border-style: groove;
    //border-color: #FCF8E3;
    //border-width: 1px;
}

/*
** DataTables config
*/
div.dt-buttons {
    float: right;
}

th {
    font-size:16px;
    text-align: center;
}

body td {
    max-width: 50px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.pctable td {
    max-width: 100px;
}

.dtable td {
    max-width: 50px;
    word-break: break-all;
    word-wrap: break-word;
}

.popt thead {
    display:none;
}

.popt td {
    max-width: 40px;
    word-break: break-all;
    word-wrap: break-word;
}

div.dataTables_wrapper {
    width: 95%;
    margin: 0 auto;
}

/*
** Opacity
*/
.widget {
  margin-top: 4px;
  padding: 4px 4px 8px 4px;
  margin-bottom: 10px
  height: 36px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
 // float: right;
}

/*
 * This section for coordinates plot
*/
.table th {
    text-align: center;
    padding: 10px;
}

.table {
    font-size: 14px;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-opacity: .8;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.xlabel {
  font-size: 14px;
  fill: #808080;
}

.ylabel {
  font-size: 16px;
  fill: #808080;
}

